body {
  width: 75%;
  margin: auto;
  background-color: #FFCE45;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 15px;
}

a {
  color:#D06224;
  font-size: 20px
}
.header-h1{
  margin-top: 15px;
  font-size: 6rem;
}

.welcome span {
  margin-top: 15px;
  font-size: 4rem;
}

.app {
  background-color: #F3F0D7;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50%
}
.error {
  color: red;
  font-weight: 700;
  background-color: #FFCCCC;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-error {
  margin-bottom: 0;
  padding: 0 20px;
}

.nav {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  margin: 0 15px;
}

.welcome {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.orderlist {
  margin-bottom: 20px;
}

.order {
  display: flex;
  flex-direction: column;
}

.product p, .order p {
  margin: 5px 0;
}

.product .name, .order .name {
  margin-top: 40px;
  font-size: x-large;
  font-weight: 300;
}

.product p:last-child, .order p:last-child {
  display: flex;
  justify-content: space-between;
  color: darkgray;
}

.order-details {
  font-size: small;
  color: darkgray;
}

.pending {
  color: orange;
  margin-right: 5px;
}

.completed {
  color: green;
  margin-right: 5px;
}

.cancelled {
  color: red;
  margin-right: 5px;
}

.order-button {
  float: right;
  width: fit-content;
  margin: 2px;
}

.product .country {
  font-style: italic;
}

.product .abv {
  font-style: italic;
}

.product .cart-link {
  text-align: right;
}

.cart table {
  width: 100%;
}

.cart .update-input {
  width: 40px;
  text-align: center;
  margin-bottom: 0px; /* skeleton override */
}

.cart tbody button {
  border: 0;
  padding-top: 10px;
}

.cart .actions {
  display: flex;
  justify-content: space-between;
}

.actions span {
  display: flex;
}

span.actions {
  float: right;
}

.wait-indicator {
  margin: 0 5px 0 5px;
  width: 250px;
  height: 250px;
}


.card button {

  border: none;
  outline: 0;
  display: inline-block;
  padding: 2px 5px;
  color: #000000;
  background-color: #FFADAD;

  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 15px;
  margin: 5px;
}


.card button:hover {
  opacity: 0.9;
  /* background-color: #B4FE98; */
  /* background-color: #FFFEB7; */
  background-color: #FFFD95;
  color: #FFE300;

}


.shopping-card .card {

  background: #009DAE;
  border-radius: 30px 0 20px 0;

  /* box-shadow: 10px 12px #009DAE; */
  box-shadow: 10px 12px #FFCE45;
  padding: 15px 15px;
  min-width: 300px;
  width: 25%;
  margin: 15px 15px;
  text-align: center;
}

.card p {
  margin: 1px 1px 1px 0px;
  padding: 3px 2px;
}

.card .name {
  color: #F7F6F2;
  font-size: 2.5rem;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
  
}
.card .details {
font-size: 1.8rem;
/* padding: 5px 5px; */
font-weight: 500;

}
.card .trade_in {
  font-size: 1.9rem;
  color: #CEE5D0;
}
.card .trade_in span {
  font-size: 1.8rem;
  color: #6ECB63;
}

.price {
  color: #FDB9FC;
  font-size: 1.6rem;

}

.shopping-card {
  display: flex;
  flex-wrap: wrap;
  /* padding: 5px 5px; */
  justify-content: center
  
}

.card .product-image {
  width: 100%;
  height: auto;
  border-radius: 30px 0 20px 0;
}